/* Stylesheets */
body{
    background-image: url("../css/Logo\ SIJ\ Baru\ Text\ Biru.png");
    background-repeat: no-repeat;
    background-position : center 350px;
    background-size: 50%;

    

}
/* This will be filled with CSS styles later */